body {
    background-image: url("intersection.jpg");
    background-size: cover;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: normal;
    text-align: center;
    color: #ffffff;
    text-shadow: 0px 1px 1px black;
    height: 100vh;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #404040;
    font-weight: bold;
    width: 150px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: #dde5b6;
    border: 2px solid #404040;
}

#save-btn {
    background: #f0ead2;
    border: 2px solid #404040;
}

#save-el {
    background: #C2A993;
    font-weight: bold;
    border: 2px solid #404040;
    border-radius: 5px;
}

#wrapper {
    max-width: 85%;
    margin: auto;
}